.music-player {
  background: #182530;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1002;
  color: #fff;
  padding: 0 20px; }

.music-player audio {
  display: none; }

.music-player .controls {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-grow: 1; }

.music-player .controls .play {
  cursor: pointer;
  width: 28px;
  height: 28px;
  border: 2px solid #ccc;
  border-radius: 50%;
  color: #fff;
  font-size: 14px;
  text-align: center; }

.music-player .controls .previous,
.music-player .controls .next {
  cursor: pointer;
  font-size: 12px; }

.music-player .album-pic {
  flex-grow: 0;
  background-size: cover;
  background-position: center center;
  width: 35px;
  height: 35px;
  border-radius: 4px;
  box-shadow: 0 5px 10px -5px rgba(18, 18, 18, 0.25);
  margin-right: 10px; }

.music-player .track-progress {
  flex-grow: 5;
  align-items: initial;
  justify-content: center;
  display: flex;
  flex-direction: column; }

.music-player .track-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap; }

.music-player .track-info .name {
  font-size: 12px;
  color: #e8e8e8;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  margin-right: 15px; }

.music-player .track-info .artist {
  font-size: 12px;
  color: #9b9b9b; }

.music-player .progress-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.music-player .progress {
  width: 100%;
  height: 9px;
  border-radius: 5px;
  background-color: #535353; }

.music-player .progress .cur {
  background-color: #c70c0c;
  position: relative;
  height: 9px;
  border-radius: 5px; }

.music-player .progress .btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -6px;
  right: -13px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  text-align: center; }

.music-player .progress .btn i {
  width: 5px;
  height: 5px;
  vertical-align: middle;
  background-color: #c70c0c;
  border-radius: 50%;
  display: inline-block; }

.music-player .time {
  font-size: 12px;
  color: #797979; }

.music-player .time .current {
  color: #a1a1a1; }

.music-player .volume-ctrl {
  font-size: 14px;
  margin: 0 10px;
  position: relative; }

.music-player .volume-ctrl i {
  cursor: pointer; }

.music-player .volume-ctrl .volume-bg {
  position: absolute;
  bottom: 36px;
  left: -8px;
  width: 32px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  text-align: center; }

.music-player .volume-ctrl .volume-bg .volume-bar {
  position: absolute;
  height: 90px;
  width: 4px;
  border-radius: 3px;
  bottom: 10px;
  left: 14px;
  background-color: #000; }

.music-player .volume-ctrl .volume-bg .bar-cur {
  position: absolute;
  bottom: 0;
  width: 4px;
  border-radius: 3px;
  background-color: #c70c0c; }

.music-player .volume-ctrl .volume-bg .btn {
  position: absolute;
  width: 15px;
  height: 15px;
  top: -2px;
  right: -6px;
  cursor: pointer;
  border-radius: 50%;
  background-color: #fff;
  text-align: center; }

.music-player .cycle-mode {
  cursor: pointer; }
